/* Navbar.css */

/* Navbar container styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem; /* Adjust the height as needed */
    max-width: 72rem; /* Max width for content */
    margin: 0 auto;
  }
  
  /* Logo styles */
  .navbar-logo {
    margin-left: 1.25rem;
  }
  
  /* Navigation links styles */
  .navbar-links {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #12db12; /* Text color */
    margin-right: 1.5rem; /* Adjust spacing as needed */
  }
  
  /* Cart icon styles */
  .navbar-cart {
    position: relative;
    margin-right: 1.5rem; /* Adjust spacing as needed */
  }
  
  .cart-icon {
    font-size: 2rem;
    color: #12db12; /* Text color */
  }
  
  .cart-badge {
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    background-color: #00a855; /* Background color for badge */
    color: #fff; /* Text color for badge */
    font-size: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: bounce 1s infinite; /* Add bounce animation */
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-0.5rem);
    }
    60% {
      transform: translateY(-0.25rem);
    }
  }
  